body .project {
  display: -webkit-box;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 100%;
  font-family: Helvetica, sans-serif;
  color: #333;
}

body #main {
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  padding: 0;
  -webkit-box-shadow: 0 4px 8px 0 #0003, 0 6px 20px 0 #00000030;
  box-shadow: 0 4px 8px 0 #0003, 0 6px 20px 0 #00000030;
  font-size: 16px;
  font-weight: 300;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body #main h1 {
  border-bottom: 0.5px solid #b2b2b2;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 10px 15px 10px;
  margin: 0;
}

body #main #task-input {
  border: none;
  border-bottom: 0.2px solid #b2b2b2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #7a7a7a;
  font-style: italic;
  font-size: 16px;
  padding: 15px 10px;
  margin: 0;
  width: 100%;
}

body #main #tasks {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

body #main #tasks li {
  border-bottom: 0.2px solid #b2b2b2;
  padding: 15px 10px;
  position: relative;
  display: -webkit-box;
  display: flex;
  margin: 0;
}

body #main #tasks li input {
  margin: 0 15px;
  cursor: pointer;
}

body #main #tasks li .task-text {
  min-width: 70%;
  padding: 0 0 2px 0;
}

body #main #tasks li .task-options {
  position: absolute;
  right: 5px;
  top: 0;
  font-weight: 900;
  color: #848484;
  font-size: 20px;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
  width: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body #main #tasks li .task-options:hover {
  color: #1c9159;
}

body #main #tasks li .btn {
  position: absolute;
  color: #b2b2b2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

body #main #tasks li .del-btn {
  right: 25px;
  color: #c14c4c;
}

body #main #tasks li .del-btn:hover {
  color: #b01111;
}

body #main #tasks li .edit-btn {
  right: 50px;
  color: #3d78ab;
}

body #main #tasks li .edit-btn:hover {
  color: #0b406e;
}

body #main #tasks li .editing {
  color: #0d7a1e;
}

body #main #tasks .completed {
  background-color: #fcfcfc;
  color: #7a7a7a;
}

body #main #tasks .submenu {
  padding: 0;
  display: -webkit-box;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  position: absolute;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

body #main #tasks .fadeInRight {
  -webkit-animation-name: fadeinright;
  animation-name: fadeInRight;
}

body #main #clear-btn {
  border: none;
  background-color: #f3f1f1;
  border-bottom: 0.2px solid #b2b2b2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  color: #7a7a7a;
  padding: 15px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

body #main #clear-btn:hover {
  background-color: #8e8e8e;
  color: #333;
}
